/* remove default browser spacing*/


body {
  margin: 40px 0 0 40px;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #35363A;
  color: #f2eded;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;

}

.contact-details {
  text-align: left;
  line-height: 0.75;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 100px;
  border-radius: 25px;
  width:30% ;
  margin-right: auto;
  background-color: #fffefe;
  color: #35363A;
  
}
.top-section {
display: flex;
align-items: flex-start;
gap: 20px;
margin-bottom: 30px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}



.summary-info {
text-align: center;
line-height: 0.75;  
}
  

ul {
  list-style-type: disc;
  padding-left: 20px;
  }

  .summary-info {
    list-style-type: none;
    padding-left: 0px;
    margin-left: -20px;
  }
.nobullet {
    list-style-type: none;
    padding-left: 0px;
    margin-left: -20px;
  }

  .underline {
    width: 100%;
    height: 2px;
    background-color: #f9f7f7;
    margin: 10px 0;
  }

.blue {
    color: #007BFF;
  }

  .contact-details {
    margin-left: auto;
    margin-right: auto;
  }
 


.columns {
  display: flex;
  gap: 250px
}

.column {
  flex: 1;
}

h2 {
  border-bottom: 2px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
